html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
h3 {
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #8e8e93;
}
.form-control {
  height: 50px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d1d1d6;
}
.form-control:focus {
  background-color: #ffffff;
  border: solid 1px #d1d1d6;
  color: #000000;
  box-shadow: none;
}
.btn-search {
  height: 50px;
  background-color: #4cd964;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
}
.btn-search:focus {
  box-shadow: none;
}
.thumb-box {
  height: 81px;
}
.thumb-box img {
  width: 100%;
  height: 81px;
}
@media (min-width: 767px) {
  .thumb-box {
    height: 153px;
  }
  .thumb-box img {
    width: 100%;
    height: 153px;
  }
}
.title {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #434343;
}
.duration {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8e8e93;
  position: absolute;
  bottom: 0;
  margin-bottom: -2px;
}
.no-padding-left {
  padding-left: 0;
}
.dropdown {
  margin-top: 41px;
}
.dropdown .dropdown-menu {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: solid 1px #0082d5;
}
.dropdown .dropdown-menu .dropdown-item {
  color: #0082d5;
  font-weight: 500;
}
.dropdown .btn-dropdown {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #0082d5;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0082d5;
  text-align: left;
}
.dropdown .btn-dropdown:focus {
  border: solid 1px #0082d5;
  box-shadow: none;
}
.txt-intro {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #434343;
  margin-top: 20px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-left: 35px; */
  /* vertical-align: .255em; */
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  right: 15px;
  top: 46%;
}
.close-icon {
  width: 16px;
  height: 16px;
  background-size: 100%;
  position: absolute;
  background-image: url(assets/images/turbo-close.svg);
  top: 27px;
  z-index: 1000;
  right: 110px;
  transition: all 20ms;
}
.turbo-logo .logo {
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.turbo-logo .txt-turbo {
  height: 14px;
  margin-left: 5px;
}
.turbo-logo img {
  display: inline-block;
}
.download-intro {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}
.download-intro b {
  text-transform: uppercase;
}
.download-wrapper {
  background-color: #e5e5ea;
  min-height: 70px;
}
.download-wrapper .input-group {
  padding: 10px;
}
._1:before {
  content: '';
  position: absolute;
  border-bottom: 10px solid #e5e5ea;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 18%;
  top: -10px;
}
._2:before {
  content: '';
  position: absolute;
  border-bottom: 10px solid #e5e5ea;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  right: 70px;
  top: -10px;
}
.example-link {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8e8e93;
  padding-left: 10px;
}
.example-link a {
  color: #8e8e93;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #000000;
}
.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0;
}
.search-container {
  cursor: pointer;
  margin-top: 30px;
}
.search-container .thumbnail {
  margin-top: 10px;
}
.search-container .thumbnail img {
  width: 100%;
  height: 150px;
}
.search-container .video-title {
  margin-top: 10px;
}
.search-container .line {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: #374355;
}
.search-container:hover {
  border-radius: 5px;
  background-color: rgba(0, 130, 213, 0.05);
  border: solid 1px #0082d5;
}
.search-step {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  opacity: 0.36;
}
.search-active {
  opacity: 1;
  font-weight: bold;
}
.search-wrapper {
  margin-top: 24px;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
